# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg
*.egg-info/
dist/
build/
.eggs/
*.manifest
*.spec
*.log

# Jupyter Notebooks
.ipynb_checkpoints/

# Power BI
*.pbix

# macOS
.DS_Store

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Virtual environment
env/
venv/
ENV/
env.bak/
venv.bak/

# Cache files
*.cache
*.tmp
*.temp

# Others
*.log
*.sqlite3
